body{
    font-family: Tahoma;
}

.wrap{
    width: 500px;
    height: 200px;
    border-left: 4px dashed red;
    border-right: 10px solid green ;
    border-top: 5px dotted yellow;
    border-bottom: 5px double blue;
    box-shadow: 15px 15px 10px #333333;
}

h1{
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 8px 8px 6px #bdbdbd;
    margin-top: 1px;
}

p{
    text-align: center;
    margin-top: 1px;
    text-shadow: 8px 12px 6px #bdbdbd;
}

.inside-one{
    margin: 0 auto;
    width: 450px;
    border: 2px solid blue;
    border-radius: 500px;

}

.inside-two{
    margin: 0 auto;
    width: 446px;
    border: 2px solid green;
    border-radius: 500px;

}

.inside-three{
    margin: 0 auto;
    width: 442px;
    border: 2px solid yellow;
    border-radius: 500px;

}

.inside-four{
    margin: 0 auto;
    width: 438px;
    border: 2px solid red;
    border-radius: 500px;
}

.button-left{
    display: inline-block;
    border-bottom: 2px solid #B27000;
    border-right: 2px solid #B27000;
    border-top: 2px solid #FFAA00;
    border-left: 2px solid #FFAA00;
    background-color: #DE9518;
    margin-left: 40px;
    margin-bottom: 10px;
    padding: 2px 10px;
    font-size: 15px;


}

.button-right{
    display: inline-block;
    border-bottom: 2px solid #B27000;
    border-right: 2px solid #B27000;
    border-top: 2px solid #FFAA00;
    border-left: 2px solid #FFAA00;
    background-color: #DE9518;
    margin-bottom: 10px;
    padding: 2px 10px;
    font-size: 15px;

}

.circle-one{
    position: relative;
    top: -65px;
    left: 387px;
    width: 20px;
    height: 20px;
    background: rgba(104,104,104,0.7);
    border-radius: 20px;
    border: 3px dashed #fff;
    margin: 1px;
}

.circle-two{
    position: relative;
    top: -119px;
    left: 420px;
    width: 33px;
    height: 33px;
    background: rgba(104,104,104,0.7);
    border-radius: 20px;
    border: 3px dashed #fff;
}

.circle-three{
    position: relative;
    top: -196px;
    left: 473px;
    width: 90px;
    height: 55px;
    background: rgba(104,104,104,0.7);
    border-radius: 30px;
    border: 2px dashed #fff;
    color: #fff;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
}